version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: ["python3", "manage.py", "runserver", "0.0.0.0:8080"]
    ports:
      - "8000:8080"
    logging:
      driver: loki
      options:
        loki-url: http://host.docker.internal:3100/loki/api/v1/push

  grafana:
    image: grafana/grafana:10.4.12
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

  loki:
    image: grafana/loki:2.9.4
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki

volumes:
  grafana_data:
  loki_data:
